/* Home */
#homePage{
    margin-top: 1rem;
  }
  
  .presentationContent{
    float: left;
    color: white;
    margin: auto;
    margin-left: 25%;
    margin-top: 50px;
    width: 50%;
    height: auto;
    background-color: #3775B7;
    border-radius: 50px;
    opacity: 0.4;
  }
  
  #name{
    font-size: 40px;
    overflow: hidden;
    letter-spacing: 5px;
  }
  
  #jobTitle{
    font-size:20px;
    overflow: hidden;
  }
  
  @keyframes buttonFade {
    0% { visibility: visible; opacity: .5; }
    50% { visibility: visible; opacity: 0.75; }
    100% { visibility: visible; opacity: 1; }
  }
  
  .contactMeBtn{
    visibility: hidden;
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #F2F2F2;
    background-color: rgb(43, 99, 160, 0.5);
    height: 75px;
    width: 75px;
    border-radius: 50%;
    bottom: 10%;
    right: 10px;
    border: 2px solid rgb(237, 233, 232, .6);
    cursor: pointer;
    animation: buttonFade 2s forwards 4s;
  }
  
  .contactMeBtn:hover{
    border: 3px solid rgba(237, 233, 232, 0.6);
  }
  