/* Home */
#homePage{
    margin-top: 1rem;
  }
  
  .presentationContent{
    float: left;
    color: white;
    margin: 35px;
  }
  
  #titleSection {
    float: left;
    width: 100%;
    text-align: left;
  }
  
  #name{
    font-size:44px;
    animation: titleSwipe 2s steps(32) backwards;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 3px;
  }
  
  #jobTitle{
    font-size:20px;
    animation: titleSwipe 2s steps(32) 1s backwards;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 2px;
  }
  
  #locationSection{
    float: left;
    position: relative;
    display: inline-flex;
    align-items: center;
    animation: titleSwipe 2s steps(152) 1s backwards;
  }
  
  #locationSection > h2 {
    overflow: hidden;
    white-space: nowrap;  
    font-family:cursive;
  }
  
  @keyframes titleSwipe {
    from{width: 0;}
    to{width: 32ch; }
  }
  
  @keyframes descriptionFade {
    0% {
      opacity: 0;
    }
    100%{ opacity: 1; }
  }
  
  @keyframes buttonFade {
    0% { visibility: visible; opacity: .5; }
    50% { visibility: visible; opacity: 0.75; }
    100% { visibility: visible; opacity: 1; }
  }
  
  .contactMeBtn{
    visibility: hidden;
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #F2F2F2;
    text-decoration: none;
    background-color: rgb(43, 99, 160, 0.5);
    height: 75px;
    width: 75px;
    border-radius: 50%;
    bottom: 5%;
    right: 0;
    border: 2px solid rgb(237, 233, 232, .6);
    cursor: pointer;
    animation: buttonFade 2s forwards 4s;
  }
  
  .contactMeBtn:hover{
    border: 3px solid rgba(237, 233, 232, 0.6);
  }
  