.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Navigation bar */
.Navbar {
  background-color: black;
  padding: 1px;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 55px;
  max-height: 55px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Navbar a {
  margin: 20px;
  color: #61dafb;
  cursor: pointer;
  text-decoration: none;
}

.Navbar a:hover{
  color: yellow;
}

.svgNavs {
  position: relative;
  float: right;
  bottom: 18px;
}
/* Contact.jsx */
.messageForm {
  float: left;
  width: 600px;
  background-color: #F2F2F2;
  border-radius: 8px;
  color: black;
  max-height: 405.38px;
}

.messageForm input[type=text], input[type=email], #messageField {
  width: 500px;
  border-radius: 7px;
  border: 1px solid white;
}

 #messageField { 
   min-height: 40px;
   min-width: 500px;
   max-width: 500px; 
 } 

#submitBtn {
  border: 1px solid gray;
  border-radius: 4px;
  background-color: green;
  color: white;
  width: 150px;
  font-size: large;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
}

#sentNotice{
  position: relative;
  bottom: 100px;
}

/*OK animation (When message is sent) Contact.jsx*/
#greenSquare {
  display: none;
  filter: blur(0);
  background-color: green;
  color: #F2F2F2;
  width: 100px;
  height: 100px;
  margin: auto;
  position: relative;
  animation: yes-animation 1s forwards;
}

/* Check Icon */
.checkIcon {
  position:relative;
  margin: auto;
  width: 20px;
  height: 40px;
  top: 20px;
  left: 0px;
  border-top: 6px solid wheat;
  border-left: 6px solid wheat;
  transform: rotateZ(225deg);
}

@keyframes yes-animation {
  0%{
    top: 0;
  }
  50%{
    top: 175px;
  }
  100%{
    top: 150px;
  }
}

/* About.jsx */
.aboutMe{
  float: left;
  width: 718px;
  height: 230px;
  background-color: #F2F2F2;
  color: black;
  font-size: large;
  padding: 5px;
  margin: 10px;
  margin-left: 17px;
  margin-top: 80px;
  border-radius: 50px;
}

.experienceSection{
  float: left;
  width: 718px;
  height: 478px;
  background-color: #F2F2F2;
  color: black;
  font-size: large;
  padding: 10px;
  margin: 10px;
  border-radius: 50px;
}

/* About Me Navigation Bar */
.about-nav-bar{
  list-style-type: none;
  position:inherit;
  padding-top: 20px;
}

.about-nav-bar li {
  display: inline-block;
  margin: 25px;
  cursor: pointer;
}

.about-nav-bar li a{
  text-decoration: none;
  color: #61dafb;
}

.about-nav-bar li a:hover {
  color: yellow;
}