body, html {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 50px;
}

.App {
  text-align: center;
} 

/* Copyright footer */
footer{
  background-color: rgb(0, 0, 255, .5);
  color: #F2F2F2;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}